.modal {
    position: absolute;
    background: var(--modalBackground);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    overflow: hidden;
    @apply rounded-lg shadow-xl;
    @apply w-11/12;
    @apply laptop:w-auto;
    @apply transition-all duration-200 ease-in-out;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: var(--modalOverlayBackground);
    @apply backdrop-filter backdrop-blur-sm;
}

.modal-header {
    @apply flex justify-between items-center py-3 px-6 border-b;
    @apply dark:border-gray-800;
}

.modal-body {
    @apply py-4 px-6;
}

.modal-footer {
    @apply flex justify-end space-x-3 py-3 px-6 border-t;
    @apply dark:border-gray-800;
}

.modal-close-button {
    @apply p-1 rounded-full flex items-center justify-center cursor-pointer;
    @apply hover:bg-gray-200 dark:hover:bg-indigo-900;
    @apply transition-colors duration-150 ease-in-out;
}

/* Image Lightbox Styles */
.ril-next-button,
.ril-prev-button {
    border-radius: 15px;
    @apply bg-turquoise-700 bg-opacity-70;
    @apply hover:bg-turquoise-600 hover:bg-opacity-90;
    @apply transition-colors duration-150 ease-in-out;
}

.ril-next-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ril-prev-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ril-toolbar {
    background: transparent;
}

.ril-captionContent {
    @apply text-white;
    @apply px-4 py-3;
    @apply rounded-lg;
    @apply bg-black bg-opacity-75;
    @apply backdrop-filter backdrop-blur-sm;
}