node_modules/
frontend/.env-dev
frontend/.env-prod
frontend/.env.development
frontend/.env.production
frontend/.env
frontend/.eslintcache
frontend/node_modules/
server/.env-dev
server/.env-prod
server/.env
server/build
server/uploads
server/node_modules/
yarn-error.log
.env.development
.env.production
public_key.pem
social-media-365202-781dcd30bc1a.json