@import "../../fonts/JetBrainsMono/JetBrainsMono";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f9f9f9;
  --modalBackground: #fff;
  --modalOverlayBackground: rgba(0, 0, 0, 0.3);
  --scrollBarTrackBg: #e5e5e5;
  --primary: #38E0C8;
  --primary-dark: #1BB39E;
  --accent: #C53030;
  --text-primary: #3A3A3A;
  --text-secondary: #4B4B4B;
}

:root.dark {
  --background: #141225;
  --modalBackground: #1E1B2E;
  --modalOverlayBackground: rgba(0, 0, 0, 0.7);
  --scrollBarTrackBg: #252138;
  --primary: #38E0C8;
  --primary-dark: #1BB39E;
  --accent: #C53030;
  --text-primary: #F9F9F9;
  --text-secondary: #E0E0E0;
}

@layer base {
  h1,
  h2 {
    @apply font-bold;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  h1 {
    @apply text-4xl leading-loose;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-red-700;
  }

  button {
    @apply group
      relative
      disabled:opacity-50
      disabled:cursor-not-allowed
      flex
      justify-center
      py-3
      px-4
      border
      outline-none
      border-transparent
      text-sm
      font-medium
      rounded-full
      text-white
      bg-turquoise-600;

    &:hover {
      @apply bg-turquoise-700;
    }

    &:focus {
      @apply bg-turquoise-800;
      @apply outline-none;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  textarea {
    @apply appearance-none
      relative
      block
      w-full
      px-6
      py-3
      border
      border-gray-300
      placeholder-gray-500
      text-black-900
      rounded-full
      transition
      duration-150
      ease-in-out
      readonly:opacity-50
      focus:border-turquoise-500
      hover:border-turquoise-300;

    &:focus {
      @apply outline-none;
      @apply z-10;
      @apply ring-1 ring-turquoise-500 ring-opacity-50;
    }

    @screen mobile {
      @apply text-sm;
    }
  }

  input[type="checkbox"] {
    @apply h-4
      w-4
      text-turquoise-500
      border-turquoise-500
      rounded
      transition
      duration-150
      focus:ring-turquoise-500
      readonly:opacity-50;

    &:focus {
      @apply ring-2 ring-turquoise-500 ring-opacity-50 outline-none;
    }
  }

  textarea {
    @apply rounded-lg;
    @apply resize-none;
  }

  label {
    @apply text-black-500;
    @apply text-sm;
  }

  select {
    @apply border-gray-300;
    @apply rounded-full;
    @apply px-4 py-3;
    @apply focus:ring-1 focus:ring-turquoise-500 focus:border-turquoise-500 focus:outline-none;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-color: var(--primary-dark);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollBarTrackBg);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-turquoise-700;
      border-radius: 10px;

      &:hover {
        @apply bg-turquoise-600;
      }
    }
  }
}

body {
  margin: 0;
  font-family: "JetBrains Mono", "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  line-height: 1.6;
  background: var(--background);
  color: var(--text-primary);
  transition: background-color 0.2s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
}

.anticon {
  @apply inline-flex items-center justify-center;
}